
body{
    background: lightblue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
}

.board1{
   width: 400px;
   height: 400px;
   display: flex;
   flex-wrap: wrap;
   background-color: blue
}

.board2{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue
}

.grid div{
    width: 40px
}